.top-wrapper{
  background-image:url(thumb_77825_default_news_size_5.jpeg);
  opacity:0.5;
  text-align:center;
  background-size: cover;
  height:auto;
  padding:180px 0px;

}

.top-wrapper h1{
  color:red;
  font-size:50px;

}

.top-wrapper p{
  color:white;
}

.btn{
  display:inline-block;
  opacity:0.8;
  border-radius:20px;
  padding:10px;
}

.btn:hover{
  opacity:1;
  size:100px;
}
